* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1292px;
    margin: 0 auto;
    padding: 10px;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 37px;
    padding-bottom: 37px;
}

.nav-link, .button {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0;
    text-align: left;
    color: #262626;
    text-decoration: none;
}

.button {
    color: #fff;
    background-color: #4CE0D7;
    padding: 8px 32px;
    border-radius: 20px;
}

.navigation {
    display: flex;
    gap: 62px;
    align-items: center;
}

.first-section {
    background-image: url('assets/images/Mask group.png');
    background-origin: padding-box;
    background-repeat: no-repeat;
    background-size: 1272px 559px;
    height: 632px;
    max-width: 1292px;
    margin: 0 auto;
    padding: 100px;
    box-sizing: border-box;
}

.first-section-content {
    position: relative;
    top: 118px;
    right: 57px;
    margin-top: 0;
    margin-right: 0;
}

.secondary-title {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.23em;
    text-align: left;
    color: white;
}

.main-title {
    font-size: 46px;
    font-weight: 400;
    line-height: 69px;
    text-align: left;
    display: inline-block;
    margin-top: 22px;
}

.main-title span.first-part {
    font-family: Poppins;
    letter-spacing: 0em;
    color: #FFFFFF;
}

.main-title span.second-part {
    font-family: Poppins;
    font-size: 46px;
    font-weight: 700;
    line-height: 69px;
    letter-spacing: 0em;
    text-align: left;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(90deg, #4CE0D7 43.06%, #8BA9F4 100%);
    -webkit-background-clip: text;
}

.description {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.second-section-title {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    color: #262626;
    text-decoration: none;
}

.third-section {
    max-width: 1292px;
    margin: 0 auto; /* This will horizontally center the container */
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally within the container */
    
}

.card1 {
    width: 100%;
    max-width: 204px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.card1:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.card1 img {
    max-width: 100px;
    height: auto;
    border-radius: 10px 10px 0 0;
    margin-bottom: 20px;
    margin-top: 45px;
}

.card1-content {
    padding: 20px;
    text-align: center;
}

.card1-content h4 {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 700;
    color: #262626;
}

.card1-content .button {
    display: inline-block;
    background-color: #4CE0D7;
    color: #262626;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    padding: 8px 16px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 700;
    margin-top: 29px;
}

.card1-content .button:hover {
    background-color: #38b2a9;
}

.topics {
    display: flex;
    gap: 10px;
}

.vector {
    display: flex;
    justify-content: center;
    margin-top: 87.5px;
    margin-bottom: 52.5px;
}

.vector img {
    max-width: 100%;
    height: auto;
}

.card {
    width: 100%;
    height: 100%;
    max-width: 1204px;
    max-height: 686px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    margin-bottom: 97px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.card-header .img-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 23px;
}


.card-button {
    position: absolute;
    width: 234px;
    height: 36px;
    top: 23px;
    left: 70px;
    padding: 8px 16px;
    background-color: #262626;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    text-decoration: none;
}

.card-info {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #262626;
    padding-bottom: 30px;
    padding-left: 64px;
}

.author-pic img {
    max-width: 40px;
    height: auto;
    border-radius: 50%;
}

.author, .date {
    display: flex;
    align-items: center;
    color: #BCBCBC;
    padding-right: 50px;
}

.coming {
    color: #F74E4E;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.24em;
    text-align: right;
    padding-left: 440px;
}

.card-body {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #262626;
    padding-bottom: 23px;
    padding-left: 64px;
}
.card-title {
    padding-bottom: 30px;
}
.card-content {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #262626;
    padding-bottom: 40px;
}

.card-footer {
    display: flex;
    align-items: center;
    padding-left: 54px;
    padding-bottom: 38px;

}





